.second-row::before {
    border-left: solid 1px white;
    content: '';
    display: block;
    margin-left: calc((3rem * -0.5) - 0.5px);
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
}

.main {
    align-self: self-start !important;
    justify-self: self-start !important;
}

table {
    direction: ltr;
    text-align: left;
    width: 100%;
    font-size: 13px;
}

th, td, tr {
    text-align: left;
}